@inject IConfiguration config
@{
	AppConfig? appConfig = config.GetSection("Project").Get<AppConfig>();
}
<div class="header">
	<div>@(ViewBag.Title ?? appConfig?.Company.CompanyName)</div>
	<div class="menu">
		<button>Идеи</button>
		<button>Проекты</button>
	</div>
	<div class="student">● Студент</div>
</div>