<!DOCTYPE html>
<html lang="ru">
<head>
    @await Html.PartialAsync("_MetaPartial")
    @await Html.PartialAsync("_CssPartial")
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial")
    <div class="content">
        @await Html.PartialAsync("_SidebarPartial")
        @RenderBody()
        <div class="filters">Фильтры</div>
    </div>
    @await Html.PartialAsync("_FooterPartial")
</body>
</html>