<div class="sidebar">
    <img src="https://cdn-icons-png.flaticon.com/128/7270/7270025.png" alt="Помощь">
    <img src="https://cdn-icons-png.flaticon.com/128/1946/1946429.png" alt="Профиль">
    <img src="https://cdn-icons-png.flaticon.com/128/126/126472.png" alt="Настройки">
</div>