<div class="col-8 col-12-medium imp-medium"
	<div id="content">
		<article>
			<header>
				<h2>Портал для идей и проектов "Высшей школы цифровых технологий"</h2>
				<p>Главная страница</p>
			</header>
		</article>
	</div>
</div>